
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin | Panel";
}

<div>
    Добро пожаловать, Одмен!
</div>

<!-- Действия со страницей "Контакты" -->
<h4>Операции над страницей "Контакты" </h4>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditContacts" asp-action="CreateContacts">Создать "Контакты"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditContacts" asp-action="ReadContacts">Посмотреть "Контакты"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditContacts" asp-action="UpdateContacts">Редактировать "Контакты"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditContacts" asp-action="DeleteContacts">Удалить "Контакты"</a>
        </td>
    </tr>
</table>

<!-- Действия со страницей "О нас" -->
<h4>Операции над страницей "О нас"</h4>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAbout" asp-action="CreateAbout">Добавить описание "О нас"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAbout" asp-action="ReadAbout">Посмотреть описание "О нас"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAbout" asp-action="UpdateAbout">Редактировать описание "О нас"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAbout" asp-action="DeleteAbout">Удалить описание "О нас"</a>
        </td>
    </tr>
</table>

<h5>Операции над сертификатами страницы "О нас"</h5>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAbout" asp-action="ReadAllAboutSertificate">Посмотреть все сертификаты</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAbout" asp-action="AddAboutSertificate">Добавить сертификат</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAbout" asp-action="DeleteAllAboutSertificates">Удалить все сертификаты</a>
        </td>
    </tr>
</table>

<!-- Действия над страницей "База знаний" -->
<h4>Операции над страницей "База знаний"</h4>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditKnowledgeBase" asp-action="CreateKnowledgeBase">Добавить описание "База знаний"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditKnowledgeBase" asp-action="ReadKnowledgeBase">Посмотреть описание "База знаний"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditKnowledgeBase" asp-action="UpdateKnowledgeBase">Редактировать описание "База знаний"</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditKnowledgeBase" asp-action="DeleteKnowledgeBase">Удалить описание "База знаний"</a>
        </td>
    </tr>
</table>

<h4>Операции над страницей "Нормативные документы"</h4>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditRegularDocuments" asp-action="ReadAllRegularDocuments">Посмотреть все нормативные документы</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditRegularDocuments" asp-action="CreateRegularDocument">Добавить нормативный документ</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditRegularDocuments" asp-action="DeleteAllRegularDocuments">Удалить все нормативные документы</a>
        </td>
    </tr>
</table>

<h4>Операции над страницей "Отраслевые решения"</h4>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditIndustrySolutions" asp-action="ReadAllIndustrySolutions">Посмотреть все отраслевые решения</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditIndustrySolutions" asp-action="CreateIndustrySolution">Добавить отраслевое решение</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditIndustrySolutions" asp-action="DeleteAllIndustrySolutions">Удалить все отраслевые решения</a>
        </td>
    </tr>
</table>

<h4>Операции над страницей "Статьи"</h4>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditNotes" asp-action="ReadAllNotes">Посмотреть все статьи</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditNotes" asp-action="CreateNote">Добавить статью</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditNotes" asp-action="DeleteAllNotes">Удалить все статьи</a>
        </td>
    </tr>
</table>

<h4>Операции над страницей "Вопрос-Ответ"</h4>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditQuestions" asp-action="GetAllQuestions">Посмотреть все вопросы</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAnswers" asp-action="ReadAllAnswers">Посмотреть все ответы</a>
        </td>
    </tr>
    <tr>
        <td>_________</td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditQuestions" asp-action="DeleteAllQuestions">Удалить все вопросы</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditAnswers" asp-action="DeleteAllAnswers">Удалить все ответы</a>
        </td>
    </tr>
</table>


<!-- Действия с новостями-->
<h4>Операции над страницей "Новости"</h4>
<table>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditNews" asp-action="ReadAllNews">Посмотреть все новости</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditNews" asp-action="CreateNews">Добавить новость</a>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-area="admin" asp-controller="EditNews" asp-action="DeleteAllNews">Удалить все новости</a>
        </td>
    </tr>
</table>

<!-- Действия над ГА -->
<h4>Операции с приборами и газоанализаторами</h4>
<p>
    <a asp-area="admin" asp-controller="EditDevices" asp-action="Index">Панель управления приборами</a>
</p>



