
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin | Panel";
}

<div>
    Добро пожаловать, тварь Одмен!
</div>

<!-- Действия со страницей "Контакты" -->
<h4>Операции над страницей "Контакты" </h4>
<a asp-area="admin" asp-controller="EditContacts" asp-action="CreateContacts">Создать "Контакты"</a>
<a asp-area="admin" asp-controller="EditContacts" asp-action="ReadContacts">Посмотреть "Контакты"</a>
<a asp-area="admin" asp-controller="EditContacts" asp-action="UpdateContacts">Редактировать "Контакты"</a>
<a asp-area="admin" asp-controller="EditContacts" asp-action="DeleteContacts">Удалить "Контакты"</a>