@{
    ViewData["Title"] = "OxyNode | Actions";
}

<h3>
    Услуги
</h3>

<table>
    <tr>
        <td><a asp-controller="Repair" asp-action="Index">Ремонт</a></td>
    </tr>
    <tr>
        <td><a asp-controller="Calibration" asp-action="Index">Калибровка</a></td>
    </tr>
    <tr>
        <td><a asp-controller="Verification" asp-action="Index">Поверка</a></td>
    </tr>
</table>
