
@{
    ViewData["Title"] = "Admin | About | Add Sertificate";
}

<h4>Добавление сертификата для страницы "О нас"</h4>
<hr />

<form asp-area="admin" asp-controller="EditAbout" asp-action="AddAboutSertificate" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <input type="file" name="uploadedSertificate" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Загрузить" />
            </td>
        </tr>
    </table>    
</form>