@model OxyNode.Models.About

@{
    Layout = "_LayoutAdminWithEditor";
    ViewData["Title"] = "Admin | About | Create";
}

<h4>Заполнение описания страницы "О нас"</h4>
<hr />


<form asp-area="admin" asp-controller="EditAbout" asp-action="CreateAbout" method="post">
    <table>
        <tr>
            <td>
                <input type="hidden" asp-for="DescriptionHtml5" id="formContent" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Сохранить" onclick="saveChanges()" />
            </td>
        </tr>
    </table>
</form>


<script>
    function saveChanges() {
        // const news_field = document.querySelector(".news_field");
        if (document.querySelector(".news__div") != null)
            document.querySelector(".news__div").remove();
        // news_div.remove();
        const news_items = news_field.childNodes;
        let news_value = "";
        for (item of news_items) {
            item.value = item.value.replace(/</g, "&lt");
            item.value = item.value.replace(/>/g, "&gt");

            if (item.name == "h3") {
                news_value += `<h3 class="` + item.classList + `">` + item.value + `</h3>`;
            }
            else if (item.name == "h4") {
                news_value += `<h4 class="` + item.classList + `">` + item.value + `</h4>`;
            }
            else if (item.name == "p") {
                news_value += `<p class="` + item.classList + `">` + item.value + `</p>`;
            }
            else false
        }


        var formValue = document.getElementById("formContent");
        formValue.setAttribute("value", news_value);
    }
</script>


<!-- News creator -->

<section class="news">
    <div class="edit_panel" onmousedown="return false">
        <div class="edit_panel__move">
            <svg width="24" height="24" viewBox="0 0 24 24"> <path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg>
        </div>
        <button class="edit_panel__button add_h3" type="button" name="">Добавить заголовок</button>
        <button class="edit_panel__button add_h4" type="button" name="">Добавить подзаголовок</button>
        <button class="edit_panel__button add_p" type="button" name="">Добавить параграф</button>
        <button class="edit_panel__button add_img" type="button" name="">Добавить картинку</button>
        <button class="edit_panel__button add_video" type="button" name="">Добавить видео</button>
        <button class="edit_panel__button add_author" type="button" name="">Добавить автора</button>
        <button class="edit_panel__button add_date" type="button" name="">Добавить дату</button>
        <button class="edit_panel__button delete_block" type="button" name="">Удалить блок</button>
        <button class="edit_panel__button up_block" type="button" name="">Блок вверх</button>
        <button class="edit_panel__button down_block" type="button" name="">Блок вниз</button>
        <button class="edit_panel__button edit_button">Редактировать</button>

    </div>
    <div class="news_field"></div>



    <!-- <textarea class="news__header" name="h3" id="" cols="" rows="" maxlength="" wrap="on">Заголовок новости</textarea>
    <div class="news__header"></div> -->

</section>
<div class="file_manager">
    <div class="file_manager__window">
        <div class="file_manager__header">
            <label class="download_img" for="download_img">Загрузить изображение</label>
            <input type="file" id="download_img" accept="image/jpg,image/jpeg,image/png,image/gif" style="display: none;">
            <div class="file_manager__close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.2138 12L19.3661 4.66641C19.4692 4.54453 19.3825 4.35938 19.2231 4.35938H17.3528C17.2427 4.35938 17.1372 4.40859 17.0645 4.49297L11.9903 10.5422L6.91611 4.49297C6.84579 4.40859 6.74032 4.35938 6.62782 4.35938H4.75751C4.59814 4.35938 4.51142 4.54453 4.61454 4.66641L10.7669 12L4.61454 19.3336C4.59144 19.3608 4.57662 19.394 4.57184 19.4293C4.56706 19.4647 4.57252 19.5006 4.58757 19.533C4.60263 19.5653 4.62664 19.5926 4.65676 19.6117C4.68689 19.6308 4.72185 19.6408 4.75751 19.6406H6.62782C6.73798 19.6406 6.84345 19.5914 6.91611 19.507L11.9903 13.4578L17.0645 19.507C17.1349 19.5914 17.2403 19.6406 17.3528 19.6406H19.2231C19.3825 19.6406 19.4692 19.4555 19.3661 19.3336L13.2138 12Z" fill="black" />
                </svg>
            </div>
        </div>

        <div class="file_manager__body">
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/49816/68f4f375-08b6-4e33-ad9e-996e86871444/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/1004346/d59ecfca-4e4f-428f-982b-3d3ddac1b44d/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/2129646/a5fa83ae-8bb0-4ace-9d5b-1e5517125447/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/368827/30382812-14fb-4c02-b021-9673e778a3ac/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/163339/6287fdb1-934d-4949-9c81-5f1d6f3af5df/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/2418935/386b8cfb-5ebc-4991-9ab8-240b651519cb/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/2500240/b8438215-18b5-438a-b982-44ef40da0002/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/49816/68f4f375-08b6-4e33-ad9e-996e86871444/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/1004346/d59ecfca-4e4f-428f-982b-3d3ddac1b44d/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/2129646/a5fa83ae-8bb0-4ace-9d5b-1e5517125447/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/368827/30382812-14fb-4c02-b021-9673e778a3ac/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/163339/6287fdb1-934d-4949-9c81-5f1d6f3af5df/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/2418935/386b8cfb-5ebc-4991-9ab8-240b651519cb/s1200" alt=""></div>
            <div class="file_manager__image"><img src="https://avatars.mds.yandex.net/get-pdb/2500240/b8438215-18b5-438a-b982-44ef40da0002/s1200" alt=""></div>
        </div>
    </div>
</div>