@model OxyNode.Models.AboutSertificate

@{
    ViewData["Title"] = "Admin | About | One Sertificate";
}

<h4>Cертификат страницы "О нас"</h4>
<hr />

@if (Model != null)
{
    <table>
        <tr>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>@Model.SertificateLabel</td>
        </tr>
        <tr>
            <td>@Model.SertificatePath</td>
        </tr>
    </table>

    <a asp-area="admin" asp-controller="EditAbout" asp-action="UpdateAboutSertificate" asp-route-id="@Model.Id">Обновить файл сертификата</a>
}


