@model OxyNode.Models.About
@using System.Web;

@{
    Layout = "_LayoutAdminWithEditor";
    ViewData["Title"] = "Admin | About | Update";
}

<h4>Изменение описания на странице "О нас"</h4>
<hr />


<form asp-area="admin" asp-controller="EditAbout" asp-action="UpdateAbout" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input id="formContent" value="" type="hidden" asp-for="DescriptionHtml5">
    <input class="edit_panel__button save_button" type="submit" value="Сохранить"><span asp-validation-for="DescriptionHtml5" class="text-danger"></span>
</form>

@* Частичное представление редактора контента*@
<partial name="Partial/_ContentEditor" />

<script>
    var saved_news = document.createElement("div");
    saved_news.classList = "saved_news";

    var data = "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.DescriptionHtml5))";
    saved_news.innerHTML = data;
    document.querySelector(".news").appendChild(saved_news);
</script>
