@model OxyNode.Models.AboutSertificate
@{
    ViewData["Title"] = "Admin | About | Update Sertificate";
}

<form asp-controller="Home" asp-action="UpdateFile" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="file" name="newSertificate" value="@Model.SertificateName" />
    <input type="submit" value="Обновить" />
</form>