
@{
    ViewData["Title"] = "Admin | Devices Panel";
}

<h4>Панель управления приборами</h4>

@*Read all*@
<p>
    <a asp-area="admin" asp-controller="EditDevices" asp-action="ReadAllDevices">Список всех приборов</a>
</p>


@*Search*@

@*CRUD*@
<p>
    <a asp-area="admin" asp-controller="EditDevices" asp-action="CreateDevice">Добавить прибор</a>
</p>


